<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">BÁN HÀNG TRỰC TUYẾN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="/">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == url_for('products_list') and 'category_id' not in request.args %}active{% endif %}"
                       href="{{ url_for('products_list', page=1) }}">Tất cả sản phẩm</a>
                </li>
                {% for c in categories %}
                    <li class="nav-item">
                        <a class="nav-link {% if 'category_id' in request.args and c.id == request.args.category_id|int %}active{% endif %}"
                           href="{{ url_for('products_list', page=1, category_id=c.id) }}">{{ c.name }}</a>
                    </li>
                {% endfor %}
            </ul>
            <a class="me-3" href="{{ url_for('add_to_cart') }}">
                <button type="button" class="btn btn-warning">Giỏ hàng <span class="badge bg-info">0</span></button>
            </a>
            {% if current_user.is_authenticated %}
                {% if current_user.avatar %}
                    <img src="{{ current_user.avatar }}" alt="{{ current_user.name }}" width="30px">
                {% else %}
                    <img src="{{ url_for('static', filename='images/default-avatar.jpg') }}" alt="{{ current_user.name }}" width="30px">
                {% endif %}
                <a href="{{ url_for('index') }}" class="text-info ms-1">
                    {{ current_user.name }}
                    <a href="{{ url_for('user_signout') }}" class="ms-3">
                        <button type="button" class="btn btn-outline-danger me-2">Đăng xuất</button>
                    </a>
                </a>
            {% else %}
                <a href="{{ url_for('user_signin') }}">
                    <button type="button" class="btn btn-outline-primary me-2">Đăng nhập</button>
                </a>
                <a href="{{ url_for('user_register') }}">
                    <button type="button" class="btn btn-primary me-2">Đăng ký</button>
                </a>
            {% endif %}
            {% if request.path == url_for('products_list') %}
                <form class="d-flex">
                    <label><input class="form-control me-2" name="keyword" type="text" placeholder="Nhập từ khoá..."></label>
                    <button class="btn btn-primary ms-2" type="button">Tìm</button>
                </form>
            {% endif %}
        </div>
    </div>
</nav>